:root {
  --main-color: rgb(0, 174, 255);
  --bg-color: rgb(2, 30, 49);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.txtbiger:hover {
  font-weight: 500;

  color: var(--main-color) !important;
}
.txtbiger:focus {
  color: var(--main-color) !important;
  font-weight: 700;
}

.txt-color {
  color: var(--main-color);
}

.logo {
  font-size: 25px;
}
.logo:hover {
  color: var(--main-color);
}
.logo:hover:active {
  color: var(--main-color);
}
.poster-width {
  width: 20px;
}
.footer-bg {
  background-color: rgb(0, 127, 185);
}
.bt {
  background-color: transparent !important;
  color: #ffffff;
}
.rate-bg {
  background-color: var(--main-color);
}
.bc {
  background-color: var(--main-color);
}
.notFound {
  color: var(--main-color);
  font-size: 100px;
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-attachment: fixed;
  color: #fff;
}
.about-content {
  max-width: 800px;
  text-align: center;
  background: rgba(149, 207, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
.about-title {
  font-size: 2.8rem;
  font-weight: bold;
  color: #ffcc00;
  margin-bottom: 20px;
}

.about-title span {
  color: #00d4ff;
}

.about-description,
.about-highlight,
.about-mission {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

.about-highlight {
  font-style: italic;
  color: #00e6e6;
}
.about-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background: #ff7e5f;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.about-button:hover {
  background: #feb47b;
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: white;
}
.bc_op {
  background-color: rgba(78, 161, 255, 0.089)
}
